.choices {	
	min-height: 34px;
	height: auto;    
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;    
    overflow: hidden;
    background-color: #fff;
	list-style: none;
}

.choices > .selected-item {
	padding: 2px 8px;
    margin-top: 5px;
	margin-left: 5px;
    position: relative;
    line-height: 18px;
	display: inline-block;
    color: #fff;    
    border: 1px solid #2a6395;    
    background-color: #3276b1;
	font-size: 14px;
}

.choices > .selected-item  > .title {	
}

.choices > .selected-item  > .close-link {	
	color: #fff;
	position: relative;
	top: 1px;
	margin-left: 3px;
}

.choices > .selected-item  > .close-link:hover {
	text-shadow: 1px 1px 1px #262626;
}

.choices > .search-field {
	margin: 0;
    padding: 0;
    white-space: nowrap;
	display: inline-block;
}

.choices > .search-field > input {
	padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}

.list-container {
	border-bottom: 1px solid #ddd;	
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
    top: -1px;
    background-color: #fff;
    position: relative;
}

.list-container > ul {
	list-style: none;
	margin: 0;
	padding: 0;	
	max-height: 300px;
	overflow: auto;
}

.list-container > ul > li {
	padding: 4px 8px;
    color: #000;
    cursor: pointer;
}

.list-container > ul > li:hover {
	background-color: #f5f5f5;
}