.files-container > .input-group > .attach-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    cursor: pointer;
}

.files-container > .input-group > .attach-green:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
    cursor: pointer;
}

.files-container > .input-group > .attach-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
}

.files-container > .input-group > .attach-blue:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    cursor: pointer;
}

.files-container > .input-group > .attach-red { 
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
}

.files-container > .input-group > .attach-red:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    cursor: pointer;
}   

.files-container > .input-group > .attach-yellow {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    cursor: pointer;
}

.files-container > .input-group > .attach-yellow:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    cursor: pointer;
}

.files-container > .global-actions {
    padding: 10px;
}

.files-container > .files-list > .file-item  {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: white;
}

.files-container > .files-list > .file-item  > .detail > .description > .name {
    font-weight: bold;
    font-size: 16px;
}

.files-container > .files-list > .file-item  > .detail > .description > .autor {
    font-size: 12px;
}

.files-container > .files-list > .file-item  > .detail > .description > .size {
    font-size: 12px;
}

.files-container > .files-list > .file-item  > .progress {
    margin-bottom: 0px;
    text-align: center;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.files-container > .files-list > .file-item  > .progress > div {
    background-color: #3577B9;
    color: #fff;
}

.files-error-message {
    display: unset;
    padding: unset;
    margin: unset;
    font-size: unset;
    line-height: unset;
    color: unset; 
    word-break: unset;
    word-wrap: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
}

.wraper{
    margin: 25px;
    border: 1px solid gray;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;
}





.padding-preview{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
}

.margin-upload{
    margin-bottom: 15px;
}

.margin-upload-field{
    margin-bottom: 5px;
}

.padding-button{
    padding-top: 5px !important;
}

.margin-button{
    padding-top: 15px;
}

.action-link{
    padding-right: 15px;
    font-size: 15px;
    text-decoration: none;
}

.loading{
    width: 55%;
}

.loading-content{
    padding: 15px;
    text-align: center;
}