.nav-tabs {
    border-bottom: 1px solid #b1b1b1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    border: 1px solid #b1b1b1;
    font-weight: bold;
    border-bottom-color: transparent;

}

.nav-tabs > li > a {
    
    border: 1px solid #b1b1b1;
    border-bottom-color: transparent;
}

a:focus {

    outline: none;

}