#labelCurrency {
    
    font-weight: 700;
    font-size: 15px;
    margin-left: -23px;
    margin-bottom: 20px;
    top: 0px;
}

input#labelCurrency {
    margin-left: 3px;
    top: -15px;
    font-weight: 100;
}

span.required{
    
   color: red; 
    
}

#symbolCurrency{
    
    margin-top: 25px;
    
}