.currencyinput {
    position: relative;
    display: block;
  }
  .currencyinput:after {
    color: #37424a !important;
    content: "$";
    font-size: 16px !important;
    font-weight: 700;
    position: absolute;
    display: block;
    height: 100%;
    top: 32px;
    left: 10px;
    line-height: 42px;
    z-index: 100;
}
  
  input#labelCurrency {
    box-shadow: 5px !important;
    color: #6b6f72;
    font-size: 0.9375rem;
    text-transform: none;
    width: 100%;
    color: #37424a !important;
    font-family: "Roboto Regular",sans-serif;
    font-size: 16px !important;
    font-weight: 400;
    height: 50px !important;
    padding-left: 30px !important;
    display: inline-block !important;
    padding-top: 10px;
}

label#labelCurrency {
    left: -13px;
    font-weight: 800;
    font-size: 15px;

}

label#labelCurrencyTwo {
    left: -13px;
    font-weight: 800;
    font-size: 12px;
    padding-bottom: 3px;
}

label#labelCurrency span.required:after {
    content: " *";
    color: #C00;
}

label#labelCurrencyTwo span.required:after {
    content: " *";
    color: #C00;
}
  