.Modal-overlay {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, .4);
z-index: 9999;
overflow: hidden;
}
.Modal-overlay2 {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, .4);
z-index: 9999;
overflow: scroll;
}
.Modal-content {
position: absolute;
/*width: 50%;*/
max-width: 750px;
left: 0;
right: 0;
margin: 5% auto;
background-color: #fff;
border-radius: 1px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
padding: 2em;
}

.Modal-contentForm {
position: absolute;
width: 80%;
left: 0;
right: 0;
margin: 5% auto;
background-color: #fff;
border-radius: 6px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
padding: 0px;
}

.contenedor-bio {
    max-width: 750px;
    min-height: 420px;
}

.mlr-25 {
     margin:0px 25px 0px 25px;
}

.plr-25 {
    padding:0px 25px 0px 25px;
}

.pt-25 {
    padding-top:25px;
    
}
.contenedor-politica {
    padding-left:15px;
    padding-right:15px;
}

.contenedor-politica-texto {
    padding-left:30px;
    padding-right:30px;
    padding-bottom:18px;
    padding-top:18px;
}