.padding-preview{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
}

.margin-upload{
    margin-bottom: 15px;
}

.margin-upload-field{
    margin-bottom: 5px;
}

.padding-button{
    padding-top: 5px !important;
}

.margin-button{
    padding-top: 15px;
}

.action-link{
    padding-right: 15px;
    font-size: 15px;
    text-decoration: none;
}
