.comment-container {
	border: 1px solid #ADADAB;    
    border-radius: 4px;
	margin-bottom: 4px;
}

.comment-container > .head {
	padding: 5px;
	cursor:pointer;
}

.comment-container > .head:hover {
	background-color: #CCC;
}

.comment-container > .head.selected {
	background-color: #CCC;
	border-bottom: 1px solid #ADADAB;
}

.comment-container > .head > .title {
	font-weight: bold;
}

.comment-container > .body {
	padding: 5px;
	word-break: break-all;
}

