.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin2 {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.modal-background {
    background-image:url("../img/bbva-background-modal.jpg");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
}

.row .center {
       display: flex;
       align-items: center;
       max-width: 750px;
       min-height: 420px;
    }
    
    .mlr-25 {
        margin-left:25px;
        margin-right:25px;
    }
    
.modal-biometria h3 {
color: #121212;
text-align: left;
margin-bottom: 16px;
margin-top: 24px;
}

.modal-biometria .texto {
    color:#626262;
}

