#subtitle
{
    color: #004481;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 22px;
}

.canvas-container{
   background: darkgray;
}

.canvas-container canvas{
   -webkit-box-shadow: 0px 2px 15px -1px rgba(0,0,0,1);
   -moz-box-shadow: 0px 2px 15px -1px rgba(0,0,0,1);
   box-shadow: 0px 2px 15px -1px rgba(0,0,0,1);
}

.canvas-container .canvas-buttons{
   margin:5px;
}