.Modal-overlay {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, .4);
z-index: 9999;
overflow: scroll;
}
.Modal-content {
position: absolute;
width: 50%;
left: 0;
right: 0;
margin: 5% auto;
background-color: #fff;
border-radius: 1px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
padding: 2em;
}

.Modal-contentForm {
position: absolute;
width: 80%;
left: 0;
right: 0;
margin: 5% auto;
background-color: #fff;
border-radius: 1px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
padding: 2em;
}