.datepicker{ z-index: 999999; }

.form-control,.input-group-btn {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  background-color: #072146;
}

.form-control {
  font-family: "BBVA Coronita Book",Arial,Helvetica,sans-serif;
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 0;
  padding-top: 22px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: #f9f6f6 !important;

}

.form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #072146;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  width: 34px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  pointer-events: none;
  color: #237ABA;
  background-color: #072146;
}

.btn.btn-up {
  background-color: transparent;
  color: #237ABA;
}

.texto-alerta {
  margin-top: -15px;
}

.has-float-label label {
  top: .5em;
  font-size: 13px;
  left: 27px;
  font-weight: 100;
background-color: #072146;
  
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
  font-size: 14px;
  opacity: .5;
  top: 1.4em;
  font-weight: 400;
  background-color: #072146;
}

@-moz-document url-prefix() {
  ::placeholder {
    color: transparent;
    opacity: 1;
  }
}

.has-float-label label.pb-currency {
  left: 10px;
}

.has-float-label label::after {
  background: 0 0;
}

.form-control .input-center {
  padding-top: 7px;
}

select {
  background-color: #fff;
  border: thin solid #005EB8;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: .5em 3.5em .5em 1em;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.iconcoronita-add,.iconcoronita-cancel,.iconcoronita-upload,input .iconcoronita-calendar {
  color: #237ABA;
  font-size: 20px;
}

.form-group select {
  background: url(https://www.trycore.com.co/cdn/bva/icons/svg/arrow-select-b.svg) right 15px center no-repeat #E9E9E9;
  background-size: 12px;
  /*background-color: #072146;*/
  color: #072146;
}

.form-group select:focus {
  background: url(https://www.trycore.com.co/cdn/bva/icons/svg/arrow-select-up-b.svg) right 15px center no-repeat #E9E9E9;
  background-size: 12px;
  /*background-color: #072146;*/
}

.input-group .has-float-label .form-control {
  border-radius: 0;
  background-color: #072146;
}

.input-group-btn {
background-color: #072146;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.subtitulo {
  color: #004481;
  font-size: medium;
  padding-top: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.titulo {
  background-color: #072146;
  color: #5BBEFF;
  font-size: large;
  padding-top: 10px;
}

.titulo-seccion {
  margin: 10px 0 20px;
  color: #004481;
  font-weight: 700;
  letter-spacing: .3px;
}

.titulo-seccion:after {
  content: " ";
  width: 50px;
  height: 1px;
  display: block;
  background-color: #004481;
  margin: 18px auto 0;
}

.Modal-overlay {
  margin: 0 auto
  position: fixed;
  width: 60%; 
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 9999;
  overflow: scroll;
}

.Modal-content {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin: 5% auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  padding: 0 15px 15px;
}

.bbva-pregunta,.borde-bottom-blue {
  margin-bottom: 15px;
}

.checkbox-bbva {
  color: #2A86CA;
}

.bg-pregunta {
  background-color: #e2f3ff;
}

.bg-bbva {
  background-color: #043263;
  padding: 10px;
}

.font-light {
  font-family: "BBVA Coronita Light",Helvetica,sans-serif;
}

.borde-bottom-blue {
  border-bottom: 1px solid #005EB8;
}

.bbva-padding {
  padding: 18px;
}

.bbva-border-bottom {
  border-bottom: 2px solid #D4EDFC;
  margin-bottom: 30px;
  margin-top: 15px;
}

.bbva-core {
  color: #004481;
}

.bbva-core-dark {
  color: #043263;
}

.bbva-dark-blue {
  color: #005EB8;
}

.bbva-light-blue-white {
  background-color: #D4EDFC;
}

.bbva-light-blue {
  color: #5BBEFF;
}

.bbva-white {
  color: #fff;
}

.alerta {
  color: #D4EDFC;
}

.bg-alerta {
  background-color: #043263;
}

.bg-exito {
  background-color: #028484;
}

.exito {
  color: #EAF9FA;
}

.bg-failed {
  background-color: #D4EDFC;
}

.failed {
  color: #005EB8;
}
div.texto-alerta div.text-danger {
	color: #5BBEFF;
    margin-left: 17px;
    margin-top: -27px;
    font-size: small;
}
}

.spacer {
  margin-top: 15px;
}

.fixed-brief-padding {
  padding-top: 81px;
}

@media(max-width:767px) {
  .fixed-brief-padding {
    padding-top: 315px;
  }

  .fixed-brief .border-right {
    height: auto;
    border-right: none;
    text-align: center;
  }
}

@media(min-width:768px) {
  .fixed-brief-padding {
    padding-top: 122px;
  }

  .fixed-brief .border-right {
    height: 92px;
    border-right: 2px solid #004481;
  }

  .border-right p.text-center {
    margin-top: 18px;
  }
}

@media(min-width:992px) {
  .fixed-brief-padding {
    padding-top: 90px;
  }

  .fixed-brief .border-right {
    height: auto;
  }

  .border-right p.text-center {
    margin-top: 10px;
  }
}

@media(min-width:1200px) {
  .fixed-brief-padding {
    padding-top: 90px;
  }
}

.etapa {
  color: #2A86CA;
  font-size: small;
}

.fase {
  color: #ffffff;
  font-size: 16px;
}

.resumen .rtitulo {
  margin: 0;
  font-size: smaller;
  color: #99b4cc;
  font-weight: bold;
}

.fixed-brief {
  background-color: rgb(7, 33, 70);
  color: #ffffff;
  font-size: 14px;
  padding: 12px 24px 0 24px;
}

.fixed-brief input {
background-color: #072146;
  border: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}

.fixed-brief .form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn-primary, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: #028484 !important;
  border-color: #028484 !important;
  color: #fff;
}
.btn-danger, .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    color: #fff;
     background-color: #2A86CA !important;
border-color: #2A86CA !important;
}
.btn-warning, .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover {
  background-color: #043263 !important;
  border-color: #043263 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #02a5a5;
    border-color: #02a5a5;
}

@font-face {
  font-family:"BBVA Coronita Light";src:url(https://trycore.com.co/cdn/bva/fonts/benton/light/BentonSansBBVA-Light.eot);src:url(https://trycore.com.co/cdn/bva/fonts/benton/light/BentonSansBBVA-Light.eot?#iefix) format("eot"),url(https://trycore.com.co/cdn/bva/fonts/benton/light/BentonSansBBVA-Light.woff) format("woff"),url(https://trycore.com.co/cdn/bva/fonts/benton/light/BentonSansBBVA-Light.ttf) format("truetype"),url(https://trycore.com.co/cdn/bva/fonts/benton/light/BentonSansBBVA-Light.svg#OfficeLight) format("svg");font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

@font-face {
  font-family:"BBVA Coronita Medium";src:url(https://trycore.com.co/cdn/bva/fonts/benton/medium/BentonSansBBVA-Medium.eot);src:url(https://trycore.com.co/cdn/bva/fonts/benton/medium/BentonSansBBVA-Medium.eot?#iefix) format("eot"),url(https://trycore.com.co/cdn/bva/fonts/benton/medium/BentonSansBBVA-Medium.woff) format("woff"),url(https://trycore.com.co/cdn/bva/fonts/benton/medium/BentonSansBBVA-Medium.ttf) format("truetype"),url(https://trycore.com.co/cdn/bva/fonts/benton/medium/BentonSansBBVA-Medium.svg#OfficeMedium) format("svg");font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

@font-face {
  font-family:"BBVA Coronita Book";src:url(https://trycore.com.co/cdn/bva/fonts/benton/book/BentonSansBBVA-Book.eot);src:url(https://trycore.com.co/cdn/bva/fonts/benton/book/BentonSansBBVA-Book.eot?#iefix) format("eot"),url(https://trycore.com.co/cdn/bva/fonts/benton/book/BentonSansBBVA-Book.woff) format("woff"),url(https://trycore.com.co/cdn/bva/fonts/benton/book/BentonSansBBVA-Book.ttf) format("truetype"),url(https://trycore.com.co/cdn/bva/fonts/benton/book/BentonSansBBVA-Book.svg#OfficeBook) format("svg");font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

@font-face {
  font-family:"BBVA Coronita Bold";src:url(https://trycore.com.co/cdn/bva/fonts/benton/bold/BentonSansBBVA-Bold.eot);src:url(https://trycore.com.co/cdn/bva/fonts/benton/bold/BentonSansBBVA-Bold.eot?#iefix) format("eot"),url(https://trycore.com.co/cdn/bva/fonts/benton/bold/BentonSansBBVA-Bold.woff) format("woff"),url(https://trycore.com.co/cdn/bva/fonts/benton/bold/BentonSansBBVA-Bold.ttf) format("truetype"),url(https://trycore.com.co/cdn/bva/fonts/benton/bold/BentonSansBBVA-Bold.svg#OfficeBold) format("svg");font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

@font-face {
  font-family:coronita-icons;src:url(https://trycore.com.co/cdn/bva/fonts/coronita-icons-v2/coronita-icons-v2.eot);src:url(https://trycore.com.co/cdn/bva/fonts/coronita-icons-v2/coronita-icons-v2.eot?#iefix) format("embedded-opentype"),url(https://trycore.com.co/cdn/bva/fonts/coronita-icons-v2/coronita-icons-v2.ttf) format("truetype"),url(https://trycore.com.co/cdn/bva/fonts/coronita-icons-v2/coronita-icons-v2.woff) format("woff"),url(https://trycore.com.co/cdn/bva/fonts/coronita-icons-v2/coronita-icons-v2.svg?coronita-icons) format("svg");font-weight:400;font-style:normal;
}

[class*=" iconcoronita-"],[class^=iconcoronita-] {
  font-family: coronita-icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconcoronita-add:before {
  content: "";
}

.iconcoronita-agenda:before {
  content: "";
}

.iconcoronita-alarm:before {
  content: "";
}

.iconcoronita-alarm-ring:before {
  content: "";
}

.iconcoronita-alert:before {
  content: "";
}

.iconcoronita-android:before {
  content: "";
}

.iconcoronita-apple:before {
  content: "";
}

.iconcoronita-atm:before {
  content: "";
}

.iconcoronita-audio:before {
  content: "";
}

.iconcoronita-auto:before {
  content: "";
}

.iconcoronita-auto-bank:before {
  content: "";
}

.iconcoronita-award:before {
  content: "";
}

.iconcoronita-balance:before {
  content: "";
}

.iconcoronita-bank:before {
  content: "";
}

.iconcoronita-bar:before {
  content: "";
}

.iconcoronita-barcode:before {
  content: "";
}

.iconcoronita-block:before {
  content: "";
}

.iconcoronita-block-card:before {
  content: "";
}

.iconcoronita-blog-b:before {
  content: "";
}

.iconcoronita-bluetooth:before {
  content: "";
}

.iconcoronita-bookstore:before {
  content: "";
}

.iconcoronita-build:before {
  content: "";
}

.iconcoronita-bullet:before {
  content: "";
}

.iconcoronita-calendar:before {
  content: "";
}

.iconcoronita-call:before {
  content: "";
}

.iconcoronita-camera:before {
  content: "";
}

.iconcoronita-cancel:before {
  content: "";
}

.iconcoronita-cash:before {
  content: "";
}

.iconcoronita-cash-register:before {
  content: "";
}

.iconcoronita-charge-card:before {
  content: "";
}

.iconcoronita-chat:before {
  content: "";
}

.iconcoronita-checking:before {
  content: "";
}

.iconcoronita-checkmark:before {
  content: "";
}

.iconcoronita-checkmark-circle:before {
  content: "";
}

.iconcoronita-chev:before {
  content: "";
}

.iconcoronita-circle-facebook:before {
  content: "";
}

.iconcoronita-circle-google-plus:before {
  content: "";
}

.iconcoronita-circle-instagram:before {
  content: "";
}

.iconcoronita-circle-linkedin:before {
  content: "";
}

.iconcoronita-circle-pinterest:before {
  content: "";
}

.iconcoronita-circle-twitter:before {
  content: "";
}

.iconcoronita-circle-youtube:before {
  content: "";
}

.iconcoronita-clock:before {
  content: "";
}

.iconcoronita-close:before {
  content: "";
}

.iconcoronita-coffee-shop:before {
  content: "";
}

.iconcoronita-commerce:before {
  content: "";
}

.iconcoronita-communication:before {
  content: "";
}

.iconcoronita-computer:before {
  content: "";
}

.iconcoronita-computer-screen:before {
  content: "";
}

.iconcoronita-config:before {
  content: "";
}

.iconcoronita-consult:before {
  content: "";
}

.iconcoronita-continue:before {
  content: "";
}

.iconcoronita-contract:before {
  content: "";
}

.iconcoronita-copy:before {
  content: "";
}

.iconcoronita-copy-card:before {
  content: "";
}

.iconcoronita-credit-card:before {
  content: "";
}

.iconcoronita-cvv:before {
  content: "";
}

.iconcoronita-deposit:before {
  content: "";
}

.iconcoronita-desktop:before {
  content: "";
}

.iconcoronita-digital-card:before {
  content: "";
}

.iconcoronita-dine:before {
  content: "";
}

.iconcoronita-discharge-card:before {
  content: "";
}

.iconcoronita-discount:before {
  content: "";
}

.iconcoronita-doc-pdf:before {
  content: "";
}

.iconcoronita-doc-word:before {
  content: "";
}

.iconcoronita-doc-xls:before {
  content: "";
}

.iconcoronita-document:before {
  content: "";
}

.iconcoronita-dollar:before {
  content: "";
}

.iconcoronita-donate:before {
  content: "";
}

.iconcoronita-download:before {
  content: "";
}

.iconcoronita-edit:before {
  content: "";
}

.iconcoronita-education:before {
  content: "";
}

.iconcoronita-ehl:before {
  content: "";
}

.iconcoronita-ehl-nowords:before {
  content: "";
}

.iconcoronita-email-read:before {
  content: "";
}

.iconcoronita-entertainment:before {
  content: "";
}

.iconcoronita-euro:before {
  content: "";
}

.iconcoronita-executive:before {
  content: "";
}

.iconcoronita-express-account:before {
  content: "";
}

.iconcoronita-external-link:before {
  content: "";
}

.iconcoronita-facebook:before {
  content: "";
}

.iconcoronita-fav:before {
  content: "";
}

.iconcoronita-filter:before {
  content: "";
}

.iconcoronita-fingerprint:before {
  content: "";
}

.iconcoronita-florist:before {
  content: "";
}

.iconcoronita-global:before {
  content: "";
}

.iconcoronita-google:before {
  content: "";
}

.iconcoronita-google-play:before {
  content: "";
}

.iconcoronita-google-plus:before {
  content: "";
}

.iconcoronita-graphics:before {
  content: "";
}

.iconcoronita-grumpycat:before {
  content: "";
}

.iconcoronita-grumpycat-line:before {
  content: "";
}

.iconcoronita-hashtag:before {
  content: "";
}

.iconcoronita-health:before {
  content: "";
}

.iconcoronita-help:before {
  content: "";
}

.iconcoronita-hide:before {
  content: "";
}

.iconcoronita-history:before {
  content: "";
}

.iconcoronita-home:before {
  content: "";
}

.iconcoronita-hotel:before {
  content: "";
}

.iconcoronita-id:before {
  content: "";
}

.iconcoronita-image:before {
  content: "";
}

.iconcoronita-info:before {
  content: "";
}

.iconcoronita-instagram:before {
  content: "";
}

.iconcoronita-insurance:before {
  content: "";
}

.iconcoronita-interaction:before {
  content: "";
}

.iconcoronita-investment:before {
  content: "";
}

.iconcoronita-jewel:before {
  content: "";
}

.iconcoronita-link:before {
  content: "";
}

.iconcoronita-linkedin:before {
  content: "";
}

.iconcoronita-list:before {
  content: "";
}

.iconcoronita-loan:before {
  content: "";
}

.iconcoronita-loan-stack:before {
  content: "";
}

.iconcoronita-location:before {
  content: "";
}

.iconcoronita-location-current:before {
  content: "";
}

.iconcoronita-location-explore:before {
  content: "";
}

.iconcoronita-location-near-me:before {
  content: "";
}

.iconcoronita-location-none:before {
  content: "";
}

.iconcoronita-location-search:before {
  content: "";
}

.iconcoronita-lock:before {
  content: "";
}

.iconcoronita-mail:before {
  content: "";
}

.iconcoronita-map:before {
  content: "";
}

.iconcoronita-menu:before {
  content: "";
}

.iconcoronita-mic:before {
  content: "";
}

.iconcoronita-minus:before {
  content: "";
}

.iconcoronita-minus-stag:before {
  content: "";
}

.iconcoronita-mobile:before {
  content: "";
}

.iconcoronita-mobile-b:before {
  content: "";
}

.iconcoronita-mobile-charge:before {
  content: "";
}

.iconcoronita-mobile-payment:before {
  content: "";
}

.iconcoronita-money-exchange:before {
  content: "";
}

.iconcoronita-more:before {
  content: "";
}

.iconcoronita-mortgage:before {
  content: "";
}

.iconcoronita-nfc-connect:before {
  content: "";
}

.iconcoronita-nfc-disconnect:before {
  content: "";
}

.iconcoronita-offers:before {
  content: "";
}

.iconcoronita-office:before {
  content: "";
}

.iconcoronita-pets:before {
  content: "";
}

.iconcoronita-picture:before {
  content: "";
}

.iconcoronita-pin-pad:before {
  content: "";
}

.iconcoronita-pin-pad-disconnect:before {
  content: "";
}

.iconcoronita-pinterest:before {
  content: "";
}

.iconcoronita-play-full:before {
  content: "";
}

.iconcoronita-plus-stag:before {
  content: "";
}

.iconcoronita-portfolio:before {
  content: "";
}

.iconcoronita-power:before {
  content: "";
}

.iconcoronita-print:before {
  content: "";
}

.iconcoronita-profile:before {
  content: "";
}

.iconcoronita-promo:before {
  content: "";
}

.iconcoronita-quote:before {
  content: "";
}

.iconcoronita-receipt:before {
  content: "";
}

.iconcoronita-reload:before {
  content: "";
}

.iconcoronita-restaurant:before {
  content: "";
}

.iconcoronita-retail:before {
  content: "";
}

.iconcoronita-return:before {
  content: "";
}

.iconcoronita-rewards:before {
  content: "";
}

.iconcoronita-sales:before {
  content: "";
}

.iconcoronita-save:before {
  content: "";
}

.iconcoronita-savings:before {
  content: "";
}

.iconcoronita-search:before {
  content: "";
}

.iconcoronita-security:before {
  content: "";
}

.iconcoronita-send:before {
  content: "";
}

.iconcoronita-services:before {
  content: "";
}

.iconcoronita-settings:before {
  content: "";
}

.iconcoronita-shop:before {
  content: "";
}

.iconcoronita-shopping:before {
  content: "";
}

.iconcoronita-social:before {
  content: "";
}

.iconcoronita-stock:before {
  content: "";
}

.iconcoronita-tablet:before {
  content: "";
}

.iconcoronita-tablet-b:before {
  content: "";
}

.iconcoronita-target:before {
  content: "";
}

.iconcoronita-ticket:before {
  content: "";
}

.iconcoronita-tile:before {
  content: "";
}

.iconcoronita-toys:before {
  content: "";
}

.iconcoronita-transfer:before {
  content: "";
}

.iconcoronita-transfer-account:before {
  content: "";
}

.iconcoronita-transfer-card:before {
  content: "";
}

.iconcoronita-trash:before {
  content: "";
}

.iconcoronita-travel:before {
  content: "";
}

.iconcoronita-twitter:before {
  content: "";
}

.iconcoronita-unlock:before {
  content: "";
}

.iconcoronita-update:before {
  content: "";
}

.iconcoronita-upload:before {
  content: "";
}

.iconcoronita-video-chat:before {
  content: "";
}

.iconcoronita-video-play:before {
  content: "";
}

.iconcoronita-vimeo-square:before {
  content: "";
}

.iconcoronita-visual:before {
  content: "";
}

.iconcoronita-walk:before {
  content: "";
}

.iconcoronita-wallet:before {
  content: "";
}

.iconcoronita-weather:before {
  content: "";
}

.iconcoronita-web-b:before {
  content: "";
}

.iconcoronita-wellness:before {
  content: "";
}

.iconcoronita-windows:before {
  content: "";
}

.iconcoronita-youtube:before {
  content: "";
}

.iconcoronita-secondary-bullet:before {
  content: "";
}

body {
  font-family: "BBVA Coronita Book","Helvetica Neue",Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.ng-scope.handsCenter{
    width: 50%;
    display: grid;
    margin-left: 35%;
    margin-top: 35px;
}

.checkGreen{
    color: green;
}

.handsCenterImg{
    width: 60%;
}

.red{
    color: #980000;
}